* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Dosis',sans-serif;
    color: #212738;
    list-style:none;
}

body {
    min-height: 100vh;
    background-image: url(../img/ceramica-artesanal.jpg);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: end;
}

.logo{
    max-width: 200px;
}

main{
    display: grid;
    padding: 10px;
}

.menu-nav li{
    margin-bottom: 30px;
}

.menu-nav li a{
    text-decoration: none;
    color: #212738;
    font-size: 30px;
}

footer{
    padding: 30px;
}

footer a{
    text-decoration: none;
    font-size: 20px;
    color:#fe5f55;
}

.main-pages{
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 0 10px;
}

hr{
    margin: 10px;
    height: 2px;
    background-color: #212738;
    border: 0;
}

h1{
    justify-self: center;
    font-weight: 600;
}

.grid-container{    
    text-align: center;
}

.card-container{
    width: 150px;
    height:fit-content;
    margin: 10px 10px 60px 10px;
    display: inline-block;
}

.card{
    display: grid;
    grid-template-rows: 1fr auto auto;
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

.nombre{
    justify-self: center;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.b-comprar{
    transition: 0.5s;
    padding: 2px 0px 2px 0px;
    border-color: #fe5f55;
    color: #fe5f55;
    border-radius: 5px;
    border: 1px solid ;
    background-color: white;
    font-weight: 600;
}

.b-comprar:hover{
    border: 1px solid;
    color: #fcf9ed;
    background-color: #212738;
}

.card:hover{
    .card-img{opacity: 80%}
    .b-comprar{opacity: 100%}
}

p{
    margin: 15px;
}

/* vista desktop */
@media only screen and (min-width: 768px) {
    body {
        background-image: url(../img/ceramica-artesanal-desktop.jpg);
    }

    .logo{
        max-width: 400px;
    }

    .menu-nav li{
        margin-bottom: 10px;
        transition: 0.3s;
    }

    .menu-nav li:hover {
        margin-bottom: 100px;
    }

    .menu-nav li a:hover {
        color: #fe5f55;
    }

    .b-comprar{
        opacity: 0%;
        font-size: 15px;
    }

    .card-container{
        width: 20%;
    }
}